<nav>
  <ul class="menu">
    <div class="logo-box">
      <li class="logo">
        <a href="/"><img src="assets/time.png" /></a>
      </li>
    </div>
    <div class="container sub-menu">
      <li><a href="#">Register</a></li>
      <li><a href="#">Update</a></li>
      <li><a href="#">Time-Set</a></li>
    </div>
    <div class="container auth-menu">
      <li><a href="#">Login</a></li>
      <li><a href="#">Logout</a></li>
    </div>
    <div class="nav-toggle">
      <li class="toggle"><span class="bars"></span></li>
    </div>
  </ul>
</nav>
