<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/error/auth.css">
</head>
<body>
<%- include('../includes/nav.ejs') %>

<section class="error-box">
    <h1>Oops.!, Something went wrong</h1>
    <h4>We couldn't find the resource, you looking for</h4>
    <div class="error-img">
        <img src="assets/404-1.png" alt="404 error">
    </div>
</section>
<%- include('../includes/footer.ejs') %>

